@using MagazineProject.Common
@model System.Collections.Generic.ICollection<CategoryViewModel>

@foreach (var category in Model)
{
    <li>@Html.ActionLink(@category.Name, "PostsByCategory", "Posts", new { categoryName = category.Name.Replace(" ", "-") }, null)</li>
}

