<div class="row">
    <div class="col-md-2">
        <label class="text-primary">Password</label>
    </div>
    <div class="col-md-5">
        @Html.ActionLink("Change password", "ChangePassword", "Manage", new { area = string.Empty }, null)
    </div>
</div>
<br />
