@model System.Collections.Generic.IList<PostViewModel>

@if (Model.Any())
{
    <div class="row">
        <div class="col-md-12">
            <div id="carousel-generic" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    @for (int j = 1; j < Model.Count; j++)
                    {
                        <li data-target="#carousel-generic" data-slide-to="@j" @if (j == 0)
                                                                               {
                                                                                   <text> class="active" </text>
                                                                               }></li>
                    }
                </ol>
                <div class="carousel-inner">
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <div class="item  @if (i == 0)
                                          {
                                              <text>active</text>
                                          }">

                            <img src="@Url.Action("SliderPostCoverImage", "Images", new { id = @Model[i].Id })" class="img-responsive carousel-image"/>
                            <div class="carousel-caption">
                                <h1>
                                    @Html.ActionLink(Model[i].Title.Chop(25), "Details", "Posts", new { id =  Model[i].Id, postTitle = Model[i].Title.Replace(" ","-")}, null)
                                </h1>
                            </div>
                        </div>
                    }
                </div>

                <a class="left carousel-control" href="#carousel-generic" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a><a class="right carousel-control"
                       href="#carousel-generic" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right">
                </span>
                </a>
            </div>
        </div>
    </div>
}