@model PagedList.IPagedList<PostViewModel>

@{
    ViewBag.Title ="Posts by Category";
}

@section styles
{
    @Styles.Render("~/Content/PagedList")
}

<div id="posts">
    @Html.Partial("_PostsPartial", Model)
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryAjax")
}
